/* google font */
* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

/* for text color */
.textcolor {
  color: #1EA74A;
}

.textgrey {
  color: '#515151';
}

.textcolorblue {
  color: #103054;
}

/* for background color */
.bg_green {
  background-color: #1EA74A;
}

.boxwidth {
  position: absolute;
  width: 359px;
  height: 517px;
  top: 157px;
  left: 781px;
  gap: 25px;

}